/* CSS Variables */
:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --body-font: Arial, Helvetica, sans-serif;
    --heading-font: "Times New Roman", "Georgia", serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* Center layout */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;

    header img {
        width: 120px;
        height: auto;
    }
}

/* Headings */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Spacing */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #003366;
    font-weight: bold;
}

p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* Social media links */
.socialmedia a {
    text-decoration: none;
}

/* Hero div */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40px;
    background: rgba(255, 255, 255, 0.7);
    padding: 15px;
}

.hero article img {
    float: right;
    width: 120px;
}