* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #333333;
    --secondary-color: #777777;
    --font-primary: Arial, Helvetica, sans-serif;
    --font-size-base: 16px;
    --heading-color: #00008b;
    --aside-bg: #eee;
    --shadow-color: #777;
}

nav {
    background-color: #0b0b8f;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

body {
    font-size: 18px;
    line-height: 1.6;
}

h1 {
    color: var(--heading-color);
    font-family: var(--font-primary);
    font-size: 2rem;
}

main {
    margin: 1rem;
}

/* Intro section (text + image) */
.intro::after {
    content: "";
    display: block;
    clear: both;
}

.intro p {
    max-width: 700px;
    line-height: 1.5;
}

.intro img {
    float: right;
    margin: 0 0 1rem 1rem;
    width: 180px;
    height: auto;
    border: 1px solid #000;
    padding: 2px;
    box-shadow: 0 0 20px var(--shadow-color);

}

/* Bottom section */
.bottom {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    margin-top: 1rem;
}

.bottom ul {
    flex: 1;
}

.bottom aside {
    flex: 1;
    max-width: 300px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 5px;
    box-shadow: 0 0 10px gray;
}

p {
    padding: 0;
}

aside {
    color: #000;
    width: 20rem;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    margin-bottom: 0.5rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 00 1rem;
}

.grid {
    display: block;
}

/* Class selector */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #333;
    background-color: #f0f0f0;
    color: #000;
    border-radius: 6px;
}